@use "./base.scss";

// put your custom CSS here!

.callout[data-callout="hidden-in-public"],
.callout[data-callout="raw-hidden"] {
	display: none;
}

.explorer-ul .content > li {
	line-height: 1.2;
	margin-bottom: 10px;
}

figure[data-rehype-pretty-code-figure],
pre {
	background: #fff;
}

.toc-content .depth-0,
.toc-content .depth-1 {
	line-height: 1.2;
	margint-top: 10px;
	margin-bottom: 10px;
}
