@use "./base.scss";

// put your custom CSS here!

.callout[data-callout="hidden-in-public"],
.callout[data-callout="raw-hidden"] {
	display: none;
}

.explorer-ul .content > li {
	line-height: 1.2;
	margin-bottom: 10px;
}

figure[data-rehype-pretty-code-figure] {
	background: #fff;
}
